<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>     
     <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
     <link th:rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>  
     
</head>
<body>
      <div class="container"> 
		      <h1>IBCS-PRIMAX EMPLOYEE SALARY PAYMENT SYSTEM</h1> 
		    <hr>
      		<div class="clearfix text-center">
			  <!--   <button  class="btn btn-primary" id="employeeBtn">Employee Account</button> 
			   <button  class="btn btn-primary" id="companyBtn">Company Account</button> 
			   <button  class="btn btn-primary" id="salaryTransactionBtn">Salary Transaction</button> 
			    <button  class="btn btn-primary" id="employeeSalaryReportBtn">Employee Salary Report</button> 
			     <button  class="btn btn-primary" id="companySalaryReportBtn">Company Salary Report</button> --> 
			     
			    <a href="/registerEmpoyeeAccount" type="button" class="btn btn-primary" id="employeeBtn">Employee Account</a>
			    <a href="/createCompanyAccount" type="button" class="btn btn-primary" id="companyBtn">Company Account</a>
			    <a href="/empSalaryTransaction" type="button" class="btn btn-primary" id="salaryTransactionBtn">Salary Transaction</a>
			    <a href="/employeeReport" type="button" class="btn btn-primary" id="employeeSalaryReportBtn">Employee Salary Report</a>
			    <a href="/companyReport" type="button" class="btn btn-primary" id="companySalaryReportBtn">Company Salary Report</a> 
	   		</div>
      </div>
      
      
	<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	
</body>
</html>