<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>     
     <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
     <link th:rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>  
     
</head>
<body>
      <div class="container"> 
		      <h1>IBCS-PRIMAX EMPLOYEE SALARY PAYMENT SYSTEM</h1> 
		    <hr>
      		<div class="clearfix text-center">			     
			    <a href="/registerEmpoyeeAccount" type="button" class="btn btn-primary" id="employeeBtn">Employee Account</a>
			    <a href="/createCompanyAccount" type="button" class="btn btn-primary" id="companyBtn">Company Account</a>
			    <a href="/empSalaryTransaction" type="button" class="btn btn-primary" id="salaryTransactionBtn">Salary Transaction</a>
			    <a href="/employeeReport" type="button" class="btn btn-primary" id="employeeSalaryReportBtn">Employee Salary Report</a>
			    <a href="/companyReport" type="button" class="btn btn-primary" id="companySalaryReportBtn">Company Salary Report</a> 
	   		</div>
      </div>
      
      

  <!-- employee salary transaction -->
  <div id="salaryTrnsMsgId" class="container alert alert-success" th:if ="${msg}" style="width :fit-content; margin-top:10px">  
     	<h5 th:text="${msg}" class="text-center"></h5>  
   </div>
 
  <div class="container" id="salaryTransactionDiv"  th:unless ="${msg}"> 
	<!--   <form th:action="@{/empSalaryTransaction}" th:object="${bankAccountDto}" method="post">  -->
	    <h1>Employee Salary Transaction</h1>
	    <div>
	    	<p>Please fill in this form to transact salary transaction.</p>
	    	<!-- <button  class="btn btn-primary" id="increaseAmountBtn2" style="float: right; margin-top:-50px">Increase Amount</button> -->
	    	 <a href="/addCompanyAccountBalance" type="button" class="btn btn-primary" id="increaseAmountBtn" 
	    	 		style="float: right; margin-top:-50px">Increase Amount</a> 
	    </div>
	    <hr>
	      <form th:action="@{/empSalaryTransaction}" th:object="${bankAccountDto}" method="post"> 
	    <label for="accountNumber">From Account Number</label>
	     <input type="text" th:value="${companyBankDetail.accountNumber}" id="accountNumber" placeholder="Sender Account" class="form-control" required="required" disabled="disabled">
	   <!--  <div class="form-group input-group mb-9">//companyBankDetail  *{accountNumber} 
	    	 <input type="text" th:value="${companyBankDetail.accountNumber}" id="accountNumber" placeholder="Sender Account" class="form-control" required="required" disabled="disabled">
		   	  <div class="input-group-append"> 
			    <button id="increaseAmountBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#increseAmountModal">
			    				Increase Amount</button>  
			  </div> 
		</div> -->
	
	    
	    <div class="form-group">
		     <label for="accountNumber">From Account Number</label>
		    <input type="text" th:field="*{accountNumber}" id="accountNumber" placeholder="Receiver Account" class="form-control" required="required"> 
	    </div>
	    
		   <div class="clearfix">
		    <button  class="btn btn-primary" value="Submit">Send Money</button>  
		   </div>
	    
	    
	    </form>
	     
    </div>
    
  

     
     
      
      
     
      
      
      
      
      

	<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
	<script src="/webjars/popper.js/1.14.3/popper.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){ 
			  $("#employeeDiv").hide();
			 $("#companyDiv").hide();
			 $("#salaryTransactionDiv").show(); 
			 $("#employeeSalaryReportDiv").hide();
			 $("#companySalaryReportDiv").hide();
			 $("#increaseCompanyAccountDiv").hide(); //test  
			  
			});
	</script>
</body>
</html>